/*nav bar*/
header{
    background-color: black;
    width: 100%;
    max-width: 1700px;
    height: 80px;
    align-items: center;
    position: relative;
}
.signature{
    width:55px;height: 55px;
    border-radius:999em;
    border:2px white solid;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.signature img{
    width:100px;
    position:relative;right: 26px;top: -12.5px;
}    

.signature:hover{
    background-color:#585858d7;
    transform: scale(1.2);
}
.navigation{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.navigation a{
    display: block;
    font-family: 'KoHo', sans-serif;
    font-size: 32px;
    color: white;
    text-decoration: none;
    list-style:none;
    transition: all 0.3s ease 0s;
}


.orangebox{
    width: 180px;
    background-color: #D9C11C;
    border-radius:15px;
    transition: all 0.3s ease 0s;
    text-align: center;
}

.orangebox a{
    display: block;
    line-height: 40px;
    font-family: 'KoHo', sans-serif;
    font-size: 32px;
    color:rgb(0, 0, 0);
    text-decoration: none;
}
.orangebox:hover{
    transform: scale(1.2);
}
/*---------------------------------------------------桌機RWD---------------------------------------------------*/
@media screen and (max-width:1300px){

}

@media screen and (max-width:1200px){

}

@media screen and (max-width:1024px){

}
/*桌機*/
@media screen and (min-width:769px) {
    label{
        display: none;
    }
    header .mail{
        display: none;
    }
    .navigation a:hover{
        display: inline-block;
        transform: scale(1.2);
        color:#0088a9;
    }
}
/*---------------------------------------------------手機---------------------------------------------------*/
@media screen and (max-width:768px){
    .org.col-2.h-50{display: none;}
    .sin.col-1.col-lg-2{display: none;}
    header{
        position: fixed;
        top: 0;
        z-index: 2;
        height: 50px;
    }
    .navigation{
        margin: 0;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.822);
        position: absolute;
        z-index: 10;
        top: 50px;
        left: -1000px;
        padding: 0;
        flex-direction:column ;
        transition: all 0.3s ease 0s;
    }
    .navigation a{
        margin-top: 10px;
        padding-bottom: 10px;
        font-size: 24px;
        text-decoration: none;
        border-bottom:1px solid white;
        text-align: center;
        align-items: center;
    }

    .menu{
        display: block;
        position: absolute;
        top:10px; right: 20px;
        width: 30px;height: 30px;
        
    }
    .menu::before{
        content: '';
        position: absolute;
        height: 2px;
        left: 12px;
        width: 24px;
        background-color: white;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow:0px 10px 0px white,0px -10px 0px white;
    }
    #menu_btn:checked ~ header .navigation{
        left:0px;
    }
}

@media screen and (max-width:400px){
    .signature{
        margin-left: 40vw;
    }
}
#menu_btn{
        position: absolute;
        z-index: -2;
        opacity: 0;
    }

/*橫向*/
@media screen and (orientation: landscape) and (max-width:900px){
}
@media screen and (orientation: landscape) and (max-width:800px){
}